* {
    font-family:"Helvetica Neue";
}

h1 {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: yellow;
}

.first-para {
    font-size: 1.3em;
    color: darkblue;
    font-weight: bold;
}

td {
    color: darkblue;
}

button {
    background-color: lightblue;
    border-radius: 25px;
}

input {
    border: none;
    border-bottom: black 1px dashed;
}

#name {
    background: lightgray;
}