.box-dim-200{
    width: 200px;
    height: 200px;
    position:relative;
}


#box0 {
    border: 5px solid black;
    background-color: lightgray;
}


#box1 {
    border: 5px solid blue;
    background-color: lightblue;
}


#box0:hover, #box1:hover {
    border-radius: 100px;
}


p:before {
    content: url('http://orig05.deviantart.net/ee3d/f/2009/002/3/6/onigiri_avatar__3_by_pandachano_ov.gif')
}


