ol {
    list-style: none;
}

li {
    display: inline;
    font-size: 1.5em;
    background-color: navy;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px lightblue dashed;
}


li:hover {
    background-color:lightblue;
    border-bottom: navy 2px solid;
    color: navy;
}